html {
  box-sizing: border-box;
  font-size: 17px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #555555;
  background: #FFFFFF;
  margin: 5em;
}

ul {
  list-style:none;
  padding: 0;
  margin: 0;
}

ul li {
  margin: .5em 0 .5em 0;
  padding: 0;
}

/* link colors */
/* see: http://webaim.org/blog/wcag-2-0-and-link-colors/ */

a {
  color: #3344dd;
}

a:hover,
a:focus,
a:active {
  color: #bb1122;
}

a:visited {
  color: #884488
}

a.not-changed:visited {
  color: green;
}
